<main>
    <mat-card>
        <ng-container *ngIf="!resetSuccess; else afterReset">
            <mat-card-title>修改密码</mat-card-title>
            <mat-card-subtitle>修改您在 WriteStory 上的密码</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="请输入用户名/手机/Email" [(ngModel)]="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="请输入验证码" [(ngModel)]="captcha">
                    <button mat-button matSuffix (click)="sendCaptcha()" [disabled]="sendCaptchaLoading">{{ sendCaptchaTip }}</button>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="请输入新的密码" [(ngModel)]="password">
                </mat-form-field>
            </mat-card-content>
            <mat-card-content class="actions">
                <button [disabled]="resetLoading" mat-raised-button color="primary" (click)="reset()">修改密码</button>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </ng-container>
        <ng-template #afterReset>
            <mat-card-title>密码修改成功</mat-card-title>
            <mat-card-subtitle>您已成功修改您的 WriteStory 账户密码</mat-card-subtitle>
            <mat-card-content class="actions">
                点击此处立即登陆：<button color="primary" mat-raised-button routerLink="/login">登录</button>
                <br/>如果你已经不记得自己设置的密码，点击此处找回：
                <button mat-button (click)="resetSuccess = false">找回密码</button>
            </mat-card-content>
        </ng-template>
    </mat-card>
    <div></div>
</main>