<footer>
    <div class="main">
        <section class="mat-elevation-z2">
            <div class="title">关于本站</div>
            <ul>
                <li routerLink="/test">链接1</li>
                <li>链接2</li>
                <li>链接3</li>
                <li>链接4</li>
            </ul>
        </section>

        <section class="mat-elevation-z2">
            <div class="title">友情链接</div>
            <ul>
                <li>链接1</li>
                <li>链接2</li>
                <li>链接3</li>
                <li>链接4</li>
            </ul>
        </section>

        <section class="mat-elevation-z2">
            <div class="title">其他信息</div>
            <ul>
                <li>链接1</li>
                <li>链接2</li>
                <li>链接3</li>
                <li>链接4</li>
            </ul>
        </section>
    </div>
</footer>